<div class="country">
    <h2 class="country__title">{{this.name}}</h2>
    <div class="country__content">
        <ul class="country__list">
            <li class="country__item"> <span>Capital:</span> {{this.capital}}</li>
            <li class="country__item"><span>Population:</span> {{this.population}}</li>
            <li class="country__item"><span>Languages:</span></li>
            <ul class="country-list-languages">
                {{#each this.languages}}
                <li class="country-list-languages__item">{{name}}</li>
                {{/each}}
            </ul>
        </ul>
        <div class="country__img">
            <img src="{{this.flag}}" alt="flag" width="500">
        </div>
    </div>
</div>